.ChallengeItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 200px;
    height: 400px;
    border-radius: 8px;
    align-items: center;
}
.ChallengeItem-img img{
    width: 200px;
    height:200px;
}
.challengeItem-name{
    padding-left: 30px;
}